<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
<p> <%= shelter.name %> </p>
<% end %>

<p><h3>Pending</h3></p>
   <%= @pending_shelters.each do |shelter| %>
      <%= shelter.name %> 
      <%= shelter.city%>
      <%= shelter.state%>
   <% end %>